body{

    text-align: center;
    color: rgb(250, 219, 219);
    background-color: rgb(0, 62, 177);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
}

input, select{

    background-color: rgb(3, 81, 226);
    color: rgb(255, 234, 234);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
    text-align: center;
    padding: 4px 4px;
}